parameters:
    level: 5
    paths:
        - app
        - config
        - routes
        - tests

    excludePaths:
        - database/migrations
        - database/seeders
        - tests

    ignoreErrors:
        # Method is documented in phpdoc; phpstan cannot read it.
        - '#Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator::through\(\)\.#'
